
.button{
    width: 6rem;
    height:2rem;
    padding: auto;
    margin: 1rem;
     
}
.button-simple1{
    border-radius: 5px;
    border-color: aquamarine;
    border-width: 2px;
    color:steelblue;  
}

.button-simple2{
    border-radius: 10px;
    border-color:grey;
    border-width: 2px;
    color:cornflowerblue;
    background-color:lightgray;

}

.button-simple-h1{
    border-radius: 5px;
    border-color: aquamarine;
    border-width: 2px;
    color:steelblue;
    
}

.button-simple-h1:hover{
    transform: scale(1.1);
    color:darkblue;
    border-color:aqua;
}


.button-simple-h2{
    border-radius: 5px;
    border-color: aquamarine;
    border-width: 2px;
    color:steelblue;
   
}

.button-simple-h2:hover{
    color:whitesmoke;
    border-color:aqua;
    background-color: slategray;
    border-radius: 15px;
}

.happy-face{
    display: none;
}

.button-funny1{
    border-color: cadetblue;
    border-radius: 5px;
    background-color:silver;
    transition: all linear 200ms;
}

.button-funny1:hover{
    transform: scale(1.2);
    border-color: yellow;
}
.button-funny1:hover .sad-face{
    display: none;
}

.button-funny1:hover .happy-face{
    display: inline;
}