h2 {
  text-align: center;
}
.gallery-container {
  min-height: 100vh;
  padding: 10px;
}
.gallery-item {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  float: left;
  margin: 10px 20px;
  box-shadow: 0px 0px 2px 1px #888888;
  text-align: center;
  position: relative;
  overflow: hidden;

  transition: all linear 250ms;
}

.gallery-item:hover {
  transform: scale(1.1);
}
/* show imgae detail on hovering its parent div */
.gallery-item:hover .image-data {
  height: 40px;
  padding-top: 0px;
  font-size: 25px;
}

.gallery-item img {
  height: 100%;
  object-fit: contain;
  vertical-align: middle;
  border-radius: 5px;
}

.gradient {
  height: 100%;
  width: 100%;

  position: absolute;

  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.9) 100%
  );
}

.image-data {
  position: relative;
  color: red;
  height: 0px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
  opacity: 0.7;
  transition: all linear 400ms;
}

.image-data h4 {
  margin: auto;
}
